.header img {
    float: left;
    /* width: 30%; */
    height: 100px;
  }
  
  .header h1 {
    position: relative;
    top: 30px;
    margin-left:  600px;
    font-family: Arial, Helvetica, sans-serif;
    /* background: #555; */
  }

  a{
    text-decoration: none;
  }

  .header .details {
    position: absolute;
    top: 15px;
    margin-left:  1100px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header{
    background-color: rgb(241, 207, 144);
    height: 100px;
  }

   nav{
    background-color: rgb(252, 197, 149);
    /* height: 25%; */
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
  } 

  nav#menu ul {
    padding: 0;
  }

  nav#menu ul li {
    display: inline;
    margin: 12px;
    font-size: 18px;
    text-align: center;
  }

  .menu_List  {
    float:right;
  }